.manfacturing {
  margin-top: 60px;
  padding: 10px;
}

.parent{
  background-color: #f5f5f5;
}
.man-grid-waving,
.man-grid-Dyeing,
.man-grid-Processing,
.man-grid-Stitching {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: dense;
}
.waving {
  background-image: url(../public/images/weaving.jpeg);
}
.Dyeing {
  background-image: url(../public/images/dyeing.jpeg);
}
.Processing {
  background-image: url(../public/images/Processing.jpeg);
}
.Stitching {
  background-image: url(../public/images/Stitching.jpeg);
}




.manifacturingImage img{
width: 100%;
height: 100%;
object-fit: cover;
}

.manficbgimg {
  min-height: 25vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.manfccontent {
  background-color: #f5f5f5;
  padding: 20px;
}
.manfccontent h2{
    font-weight: 400;
}
.manfccontent p {
  color: rgb(121, 121, 121);
  font-size: 14px;
}
.manfccontent div {
  margin-top: 30px;
}
.manfccontent a {
  border: 1px solid black;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  padding: 8px 11px;
  color: black;
  text-decoration: none;  
  font-size: 15px;
  
}
@media (max-width: 650px) {
    .man-grid-waving,
    .man-grid-Dyeing,
    .man-grid-Processing,
    .man-grid-Stitching {
 
      grid-template-columns: 1fr;
    
    }
    .man-grid-Dyeing .manficbgimg{
        grid-row: 1;
    }
    .man-grid-Stitching .manficbgimg{
        grid-row: 1;
    }
}
